<!DOCTYPE HTML>
<html>
<head>
<style>
h1{
text-align:center;
color:blue;
}
body{
background-size:cover;}
</style>
</head>
    <body style="background-image:url('static/contact.jpeg')">
	<form action="/contact1" method="post">
         <div>
            <h1>
			<b>Contact Us</b></span></h1>
           </div>
             <table align="center" style="font-size:28px;border:3px solid black; margin-top:150px;">
                 <tr>
                     <td rowspan="4" class="text-center"><span style="color: #000066"></span>
                     </td>
                     <td style="width: 150px; color: rgb(31, 31, 238)">sravanthik2001@gmail.com</td>
                 </tr>
                 <tr>
                     <td style="width: 150px; color: blue ">mubinashaik@gmail.com</td>
                 </tr>
                 <tr>
                     <td style="width: 150px; color: blue ">bhanukokkera@gmail.com</td>
                 </tr>
                 <tr>
                    <td style="width: 150px; color: blue ">racheljyothi@gmail.com</td>
                </tr>
                
                </tr>
             </table>

           
    </form>
    <p style="margin-top:200px;">
    <center><form method="get" action="/">
    <button type="submit">Back To Home</button>
</form>
</center>
</p>
	</body>
</html>